<VirtualHost *:80>
  ServerName talk.example.com
  ServerAlias talk.example.com www.talk.example.com
  ServerAdmin admin@example.com

  RewriteEngine On
  RewriteCond %{HTTP:Upgrade} =websocket [NC]
  RewriteRule /(.*)           ws://localhost:9000/$1 [P,L]
  RewriteCond %{HTTP:Upgrade} !=websocket [NC]
  RewriteRule /(.*)           http://localhost:9000/$1 [P,L]

  ProxyPassReverse / http://localhost:9000/

</VirtualHost>
